* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  /* width: 100%; */
  height: 200px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #31363f;
}

body {
  background-color: #222831;
  font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  position: relative;
  min-height: 100vh;
}
main {
  margin-top: 100px;
  padding: 0 10% 200px;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.item {
  min-height: 30vh;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

a {
  color: #91dee0;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:nth-child(even) {
  background-color: #31363f;
}

a:nth-child(odd) {
  background-color: #3e4550;
}

a:hover {
  color: #222831;
  background-color: rgb(177, 135, 141);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: pink;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 100;
}
